[submodule "third_party/DockerClient"]
	path = third_party/DockerClient
	url = https://github.com/ShipilovDmitry/DockerClient
    branch = master
[submodule "third_party/structarus"]
	path = third_party/structarus
	url = https://github.com/senjun-team/structarus